.pageImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 550px) {
    .pageImage {
        height:200px;
    }
}

@media screen and (min-width: 551px) and (max-width: 900px) {
    .pageImage {
        height: 400px;
    }
}
@media screen and (min-width: 901px) {
    .pageImage {
        height: 450px;
    }
}

.burtPic {

    height: 80%;
}

.burtPic:hover {
    transition-property: all;
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    
    transform: rotate(360deg);
}

.mainContent {
    height: auto;
}

#aboutBurt {
    font-weight: bold;
    width: 70%;
    margin: 20px auto;
    left: auto;
    right: auto;
    
}

#title {
    color: black;
    caption-side: top;
    text-align: center;
}

table {
    margin: 50px auto;
    
}




table, th, td {
    border: 2px solid black;
    text-align: center;
}


th, td {
    width: 150px;
    height: 30px;
}

.value {
    text-align: center;
}

#note {
    font-size: 12px;
}


tr:nth-child(even) {
    background-color: rgb(172, 168, 168);
}

tr:nth-child(odd) {
    background-color: beige;
}

