.Main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.page {
    height: 15%;
    width: 100%;
}

#navbar {
    background-color: blue;
}

#pageImage {
    height: 400px;
    background-color: red;
}

#mainContent {
    height: 600px;
    background-color: beige;
}

#secondaryContent {
    background-color: green;
    display: grid;
    grid-column: repeat(5, 1fr);
}

@media screen and (min-width: 550px) {
  
}

@media screen and (min-width: 700px) {
  
    #contentLeft, #contentMiddle, #contentRight {
        width: 33.333333333333333%;
    }
}
@media screen and (min-width: 900px) {
    .Main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
 }




