.Main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    height: 15%;
    width: 100%;
    box-sizing: content-box;
}

#header {
    height: 75px;
}


#mainContent {
    background-color: rgba(32, 85, 32, 0.527);
    height: auto;
    min-height: 50%;
}

#secondaryContent {
    background-color: green;
    display: grid;
    grid-column: repeat(5, 1fr);
}

@media screen and (min-width: 550px) {
  
}

@media screen and (min-width: 700px) {
  
    #secondaryContent {
        
    }
}
@media screen and (min-width: 900px) {
    .Main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.navWrapper {
    height:  50px;
    background-color: rgb(32, 85, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(32, 85, 32);
    font-weight: bold;
    color: white;
}

.navmenu {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: auto 20px;
}

.navmenu:hover, .navmenu:focus {
    transition-property: all;
    transition-duration: 0.5s;
    transform: scale(1.2);
    text-decoration: none;
    color: white;
}

.footer {
    background-color: rgba(71, 70, 70, 0.301);
    height: 65px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: rgb(32, 85, 32);
    border: none;
    margin: 30px 30px;
}

.pageImage {
    margin-bottom: 20px;
    height: auto;
    min-height: 30%;
}

header {
    margin: 10px;
}

.banner {
    height: 80px;
}

.overlayed {
    display: inline;
    position: absolute;
    top: 15px;
    left: 10px;
}

.bannerImage {
    height: 100%;
    width: 100%;
    filter: saturate(0.5);
}

.Logo {
    float: left;
    height: 80px;
    width: 150px;
    filter: brightness(0) invert(1);
    
}

.burt {
    font-size: 35px;
    color: white;
    display: inline;
    position: relative;
    top: 25px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}




