

#homeimage {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 550px) {
    .pageImage {
        height:200px;
    }
}

@media screen and (min-width: 551px) and (max-width: 900px) {
    .pageImage {
        height: 350px;
    }
}
@media screen and (min-width: 901px) {
    .pageImage {
        height: 450px;
    }
}
